page{
	background: #F0F0F0;
}

	/* #ifndef APP-NVUE */
	
	view {
		font-size: 14px;
		line-height: inherit;
	}

	.example {
		padding: 0 15px 15px;
	}

	.example-info {
		padding: 15px;
		color: #3b4144;
		background: #ffffff;
	}

	.example-body {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		font-size: 14px;
		background-color: #ffffff;
	}

	/* #endif */
	.example {
		padding: 0 15px;
	}

	.example-info {
		/* #ifndef APP-NVUE */
		display: block;
		/* #endif */
		padding: 15px;
		color: #3b4144;
		background-color: #ffffff;
		font-size: 14px;
		line-height: 20px;
	}

	.example-info-text {
		font-size: 14px;
		line-height: 20px;
		color: #3b4144;
	}


	.example-body {
		flex-direction: column;
		padding: 15px;
		background-color: #ffffff;
	}

	.word-btn-white {
		font-size: 18px;
		color: #FFFFFF;
	}

	.word-btn {
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		height: 48px;
		margin: 15px;
		background-color: #007AFF;
	}

	.word-btn--hover {
		background-color: #417CAC;
	}

	.uni-nav-bar-text {
		font-size: 28rpx;
	}

	.city {
		/* #ifndef APP-PLUS-NVUE */
		display: flex;
		/* #endif */
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		/* width: 160rpx;
 */
		margin-left: 4px;
	}

	.input-view {
		/* #ifndef APP-PLUS-NVUE */
		display: flex;
		/* #endif */
		flex-direction: row;
		/* width: 500rpx;
 */
		flex: 1;
		background-color: #f8f8f8;
		height: 30px;
		border-radius: 15px;
		padding: 0 15px;
		flex-wrap: nowrap;
		margin: 7px 0;
		line-height: 30px;
	}

	.input-uni-icon {
		line-height: 30px;
	}

	.nav-bar-input {
		height: 30px;
		line-height: 30px;
		/* #ifdef APP-PLUS-NVUE */
		width: 370rpx;
		/* #endif */
		padding: 0 5px;
		font-size: 28rpx;
		background-color: #f8f8f8;
	}

	.example-body {
		/* #ifndef APP-NVUE */
		display: block;
		/* #endif */
		padding: 0;
	}
	
.uni-navbar__header-btns.uni-navbar__header-btns-left{
	width: auto !important;
}
.kkjjddeerr{
	width: 110upx;
	height: 50upx;
}
.dsfstxer{
	background: #fff;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
.van-tabs__line{
	background:#417CAC !important;
}
.van-sticky{
	z-index: 999 !important;
}
.van-dropdown-menu{
	height: 88upx !important;
}
.dfsrtt .van-dropdown-item.van-dropdown-item--down{
	display: none;
}
.dsfdstytx{
		height: 80upx;
		line-height: 80upx;
		border: 1px solid #E0E0E0;
		border-radius: 8upx;
		padding-left: 20upx;
		font-size: 30upx;
		position: relative;
	}
	
	radio{
		transform: scale(0.8);
		position: relative;
		bottom: 2upx;
	}
	
	.jdsfdstyxzr{
		border: 1px solid #E0E0E0;
		width: 140upx;
		height: 140upx;
		text-align: center;
		line-height: 140upx;
		margin-right: 20upx;
		display: inline-block;
		margin-bottom: 20upx;
		position: relative;
	}
	.dsfdstyxer{
		position: absolute;
		right: -16upx;
		top: -66upx;
	}
	.jdsfdstyxzr image{
		width: 80upx ;
		height: 80upx ;
	}
	.righticon{
		position: absolute;
		right: 20upx;
		top: 0;
		z-index: 9;
	}
	.righticon.ab{
		right: 10upx;
	}